* {
    margin: 0;
    padding: 0;
}

/* Event Details */
.host {
    opacity: 0.7;
}

.container-description {
    padding: 2% 2%;
    background: linear-gradient(to bottom right, #7848f4, #f0ebfd, #ffffff, black);


}

.event-description {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  margin: 0 auto;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;

}


.event-location,
.event-date {
    display: flex;
}

.event-location p,
.event-date p {
    margin-top: 8px;
    padding-left: 5px;
}

.event-location .icon,
.event-date .icon {
    font-size: 30px;
}

/* Submit Form */
.TicketButton {
    background-color: #7848f4;
    border-radius: 5px;
    padding: 12px 40px;
    width: 300px;
    text-align: center;


}

.BookTicket {
    background-color: #7848f4;
    color: #fff;
    position: relative;
    padding-right: 40px;
    border: none;
}

.BookTicket .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Pricing */
.section-pricing {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* background: linear-gradient(to bottom right, #7848f4, #f0ebfd, #ffffff, black); */


   
}

.section-pricing>div {
    width: 800px;
       margin: 0 auto;

       /* padding: 50px 35px; */
       border: 1px solid rgba(255, 255, 255, 0.3);
       background: rgba(255, 255, 255, 0.2);
       box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
       backdrop-filter: blur(5px);
       border-radius: 15px;
     
}

/* close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  */
.pricing-grid {
    display: grid;
    grid-template-columns: 20% 80%;
}
.subtract-btn,.add-btn{
    margin: 0 5px;
}
.pricing-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bookbtn form,.amounts-section span{
    margin-left: 20px;
    width: 92%;
    display: flex;
    justify-content: flex-end;
}
.tickets div {
    display: flex;
    justify-content: space-between;
}

/* Ticket counter */

.ticket-counter {
    display: flex;
    align-items: center;
}

.subtract-btn,
.add-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #f0f0f0;
    color: #555;
    font-size: 18px;
    cursor: pointer;
}

.ticket-count {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}


/* More Events */

/* Ticket Pop Up */
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Pop Up */

#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

/* Book Now */
.booknow {
    display: flex;
   justify-content: space-between;
    margin-top: 1em;
}

/* More Events */


/* Header */
.main-nav ion-icon{
    color: black;
}
.main-nav ion-icon:hover {
    cursor: pointer;
    background-color: #E6E6FA;
    color: #6a5acd ;
    border-bottom: 1px solid #fff;
}
.account:hover {
    cursor: pointer;
    background-color: #E6E6FA;
    color: #6a5acd ;
    border-bottom: 1px solid #fff;
    padding-left: 10px;
}
.plana-navbar a:hover{
    background-color: white;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
}

.main-nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: hidden;
    font-weight: bold;
}

.main-nav a:hover {
    cursor: pointer;
    background-color: #E6E6FA;
    color: #6a5acd ;
    border-bottom: 1px solid #fff;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;

    background-color: rgb(13, 4, 52);
}

.footer {
    color: #F5F2F8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;

}

.footer a {
    text-decoration: none;
    cursor: pointer;
    color: #F5F2F8;
}

.footer a:hover {
    color: #fff;
}

.footer>div {
    padding: 10px 10px 0 10px;
}

.copyright {
    color: #F5F2F8;
    text-align: center;
}

hr {
    color: #382B7F;
}